PORT=9000

MONGO_CONNECTION_STRING=mongodb://localhost:27017/bookmyscreen-db

NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_gmail_app_password

HASH_SECRET=your_random_hash_secret

ACCESS_TOKEN_SECRET=your_random_access_token_secret
REFRESH_TOKEN_SECRET=your_random_refresh_token_secret

FRONTEND_URL=http://localhost:5173

REDIS_HOST=localhost
REDIS_PORT=6379

RAZORPAY_API_KEY=your_razorpay_key
RAZORPAY_SECRET_KEY=your_razorpay_secret_key
